In [18]:
import pandas as pd
import numpy as np

In [19]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [11]:
df_preprocessed = pd.read_csv('df_reason_mod.csv')
df_preprocessed.head()

,Reason_1,Reason_2,Reaason_3,Reaason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month_Value,Day_of_the_week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3

In [12]:
df_preprocessed = pd.read_csv('C:/Users/abey.assefa/AbeyML/Absenteeism_preprocessed.csv')
df_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

### Create target

In [13]:
df_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [22]:
df_preprocessed['Excessive_Absenteeism'] = np.where(df_preprocessed['Absenteeism Time in Hours'] > 
                                    df_preprocessed['Absenteeism Time in Hours'].median(), 1, 0)

In [23]:
df_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours,Excessive_Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [24]:
## check balace of data
df_preprocessed['Excessive_Absenteeism'].sum() / df_preprocessed.shape[0]

0.45571428571428574

In [25]:
data_with_target = df_preprocessed.drop('Absenteeism Time in Hours', axis=1)

In [26]:
data_with_target is df_preprocessed

False

In [30]:
# input for regression
unscaled_inputs = data_with_target.iloc[:, :-1]

In [31]:
from sklearn.preprocessing import StandardScaler

In [32]:
absenteeism_scale = StandardScaler()

In [33]:
absenteeism_scale.fit(unscaled_inputs)

StandardScaler()

In [34]:
scaled_inputs = absenteeism_scale.transform(unscaled_inputs)

In [36]:
scaled_inputs.shape

(700, 14)

In [37]:
## split

In [39]:
from sklearn.model_selection import train_test_split
target = df_preprocessed['Excessive_Absenteeism']

In [41]:
X_train, X_test, y_train, y_test = train_test_split(scaled_inputs, target, train_size=0.8, random_state=20)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(560, 14) (140, 14) (560,) (140,)